@media only screen and (max-width: 768px) {


    .profile {
        gap: 100px;
    }

    .what-do-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 50px;
    }

    .Skill {
        margin-top: 250px;
    }


    .education {
        margin-top: 350px;
    }
    .professional-skills{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
     }



     .rights{
        gap: 125px;
     }




}




@media only screen and (max-width: 480px) {

    .profile-image {
        width: 400px;
        height: 400px;
    }

    .about-image img {
        width: 400px;
        height: 350px;
    }


    .about-text {
        width: 430px;
    }

    .technical-skill {
        width: 450px;
    }

    .progress {
        width: 450px;
    }
    .professional-skills{
        
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       align-content: center;
    }
    .education{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }


    .education-container-big{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 430px;
    }
    .education-container{
        width: 430px;
    }

    .education-box{
        width: 430px;
    }

      .education-box-2{
        width: 430px;

    }

    .education-box-2 p:nth-child(3){
        width: 380px;
    }


    .work-experince-box,
    .work-experince-box-2{
        width: 430px;
    }



    .portfolio-box{
        width: 450px;
    }



    .portfolio-box img{
        width: 450px;
    }

    .portfolio-box-second-p-2{
        width: 430px;
    }


    .portfolio-box-second-p{
        width: 400px;
    }


    

    .portfolio-box-second{
        width: 450px;
    }



    .portfolio-box-second img{
        width: 450px;
    }

    .portfolio-box-second-p-2{
        width: 430px;
    }


    .portfolio-box-second-p{
        width: 400px;
    }
    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }


    .footer-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .footer-big-box-mini-1,
    .footer-big-box-mini-2,
    .footer-big-box-mini-3{
        width: 400px;
        margin-left: 25px;
    }
    .footer-emaail{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    
    .footer-email-box{

    }
    .form-name input{
        width: 200px;
    }
    form input{
        width: 420px;
    }
    .textarea{
        width: 420px;
    }
    #submit{
        width: 420px;
    }

    .rights{
        gap: 50px;
    }
}










@media only screen and (max-width: 770px) {
    #mobile-menu {
        margin-top: 40px;
        background-color: var(--second);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
        z-index: 1;
    }

    .mobile-nav-items>ul {
        padding: 0px;
    }

    .mobile-nav-items>ul>li {
        text-align: center;
        position: relative;
        list-style: none;
        margin: 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .mobile-nav-items>ul>li>a {
        color: white;
        text-decoration: none;
    }

    .mobile-nav-items>ul>li::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.17rem;
        background-color: white;
        left: 0;
        bottom: 0;
        transform-origin: 0% 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .mobile-nav-items>ul>li:hover::after {
        transform: scaleX(1);
    }

    .mobile-nav-button {
        background-color: #141214;
        border-radius: 50px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .mobile-nav-button .anim-layer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background-color: white;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .mobile-nav-button:hover .anim-layer {
        width: 100%;
        left: 0;
    }

    .mobile-nav-button:hover a {
        color: #141214;
    }

    .mobile-nav-button a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        position: relative;
        z-index: 1;
    }

    .nav-items>ul,
    .nav-button {
        display: none;
    }

    #hamburger-cross {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        top: 40px;
        right: 26px;
    }

    #hamburger-menu {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 24px;
        margin-left: 350px;
    }
}